[Unit]
Description=fidata FIDE rating scrape
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
User=ubuntu
WorkingDirectory=/opt/fidata
ExecStart=/usr/bin/docker compose --profile cron run --rm scraper
ExecStart=/usr/bin/docker compose --profile cron run --rm web-generate
